@charset "UTF-8";

/* 回答はここに書いてね */
.main_table {
  table-layout: fixed;
  width: 100%;
}

/* tr達が裸なので前にテーブル置いてあげると良い! */
.main_table th {
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  color: #ffffff;
  border: solid #dedede 1px;
  background-color: #2244aa;
}

.main_table td {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  text-align: center;
  border: solid #dedede 1px;
}

.main_table tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.main_table tbody tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
